*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


html{
    font-size:62.5%;
}

.fondo{
    background-color: black;
}

.Titulo {
    background-color: red;
    min-height: 3rem;
    border-radius: 30;
}

.Texto {
    background-color: blue;

}